 :root {
     --fonte-logo: 'Bruno Ace SC', cursive;
     --fonte-titulo: 'Big Shoulders Display', cursive;
     --fonte-texto: 'Josefin Sans', sans-serif;
     --cor-principal: #060413;
     --cor-secundaria: #06081D;
     --cor-destaque: #989ad6;
     --cor-texto: #e7e8ff;
 }

 body {
     color: var(--cor-texto);
     width: 100%;
     height: 100vh;
 }

 .fonte-logo {
     font-family: var(--fonte-logo);
 }

 .fonte-titulo {
     font-family: var(--fonte-titulo);
     font-weight: 500;
 }

 .fonte-texto {
     font-family: var(--fonte-texto);
     font-weight: 500;
 }

 .cor-principal {
     background-color: var(--cor-principal);
 }

 .cor-secundaria {
     background-color: var(--cor-secundaria);
 }

 .cor-destaque {
     background-color: var(--cor-destaque);
 }

 .cor-fonte-escuro {
     color: var(--cor-principal);
 }

 .cor-link,
 .nav-link {
     color: var(--cor-texto);
 }

 .cor-link:hover,
 .nav-link:hover {
     color: var(--cor-destaque);
 }

 .btn-icon {
     background-color: var(--cor-secundaria);
     color: var(--cor-texto);
 }

 .btn-icon:hover {
     background-color: var(--cor-principal);
     color: var(--cor-destaque);
 }

 .accordion-button {
     background-color: var(--cor-secundaria) !important;
     color: var(--cor-texto) !important;
 }

 .accordion-button:hover {
     background-color: var(--cor-principal) !important;
     color: var(--cor-destaque) !important;
 }

 .equipe:hover {
     box-shadow: 3px 3px #888888;
     transform: scale(1.2);
 }